<% provide(:title, 'home') %>

<div class="jumbotron">
	<div class="center">
		<h1>Demo app</h1>
		<p>
			Welcome to demo app
		</p>
		<%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
	</div>
</div>

