@import "bootstrap";

/* variables */
$white: #fff;
$grayMediumLight: #eaeaea;

/* Universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}


/* Logo */
.navbar-brand {
	color: $white;
	text-transform: uppercase;
}

.navbar-brand:hover {
	color: $white;
	text-decoration: none;
}


/* footer */
footer {
	color: #999;
	border-top: 1px solid $grayMediumLight;
}